
@media screen and (max-width: 767px) {

  .caja {
    width: 100%;
    background-color: #fff;
    text-align: center;
    padding: 20px;
    box-sizing: border-box;
  }
  

  .titulo {
    font-size: 30px; 
    font-weight: bold;
    margin-bottom: 10px;
  }
  
 
  .frase {
    font-size: 14px;
  }


.cont-padre .container{
  width: 100%;
  flex-direction: column;
  display: flex;
}
  .left-box {
    width: 100%;
    padding: 20px;
    text-align: center;
    border: 2px solid transparent;
    background-color: #00ccff;
    transition: all 1s;
  }
  .left-box:hover{
    background: #e6e3e3;
    border-color: #00ccff;
    box-shadow: 0 0 40px #00ccff;
  }
  
  .right-box {
    width: 100%;
    height: 400px;
    background-image: url('../Img/descarga\ \(7\).jpeg');
    background-size: cover;
    background-position: center;  
    cursor: pointer;
  }
  
  
  .left-box2 {
    width: 100%;
    padding: 20px;
    text-align: center;
    border: 2px solid transparent;
    background-color: #00ccff;
    transition: all 1s;
  }
  .left-box2:hover{
    background: #e6e3e3;
    border-color: #00ccff;
    box-shadow: 0 0 40px #00ccff;
  }
  
  .right-box2 {
    width: 100%;
    height: 400px;
    background-image: url('../Img/Imperial\ Point\ Animal\ Hospital\ of\ Delray\ -\ Animal\ Hospital\ in\ Delray\ Beach\,\ FL.jpeg');
    background-size: cover;
    background-position: center;
    cursor: pointer;
  }
  
  
  .left-box3 {
    width: 100%;
    padding: 20px;
    text-align: center;
    border: 2px solid transparent;
    background-color: #00ccff;
    transition: all 1s;
  }
  .left-box3:hover{
    background: #e6e3e3;
    border-color: #00ccff;
    box-shadow: 0 0 40px #00ccff;
  }
  .right-box3 {
    width: 100%;
    height: 400px;
    background-image: url('../Img/En\ Clínica\ Veterinaria\ del\ Bosque\ llevamos\ 25\ años\ cuidando\ la\ salud\ de\ tu\ mascota\ 3.jpeg');
    background-size: cover;
    background-position: center;
    cursor: pointer;
  }
  .borde-btn{
    border: none;
    background: transparent;
    border-bottom: 3px solid #154af8;
    font-size: 20px;
  }
  .borde-btn:hover{
    background: transparent;
    border-bottom: 3px solid #e05007;
  }
}


@media screen and (min-width: 768px) and (max-width: 1023px) {
  .caja {
    width: 100%;
    background-color: #fff; 
    text-align: center;
    padding: 20px;
    box-sizing: border-box;
  }
  
  .titulo {
    font-size: 40px; 
    font-weight: bold;
    margin-bottom: 10px;
  }
  
 
  .frase {
    font-size: 18px; 
  }
  .container {
    display: flex;
  }
  
  .left-box {
    width: 50%;
    padding: 20px;
    text-align: center;
    border: 2px solid transparent;
    background-color: #00ccff;
    cursor: pointer;
    transition: all 1s;
  }
  .left-box:hover{
    background: #e6e3e3;
    border-color: #00ccff;
    box-shadow: 0 0 40px #00ccff;
  }
  .right-box {
    width: 50%;
    height: 500px;
    background-image: url('../Img/descarga\ \(7\).jpeg');
    background-size: cover;
    background-position: center;  
    cursor: pointer;
  }
  
  
  .left-box2 {
    width: 50%;
    padding: 20px;
    text-align: center;
    border: 2px solid transparent;
    background-color: #00ccff;
    cursor: pointer;
    transition: all 1s;
  }
  
  .left-box2:hover{
    background: #e6e3e3;
    border-color: #00ccff;
    box-shadow: 0 0 40px #00ccff;
  }
  .right-box2 {
    width: 50%;
    height: 500px;
    background-image: url('../Img/Imperial\ Point\ Animal\ Hospital\ of\ Delray\ -\ Animal\ Hospital\ in\ Delray\ Beach\,\ FL.jpeg');
    background-size: cover;
    background-position: center;
    cursor: pointer;
  }
  
  
  .left-box3 {
    width: 50%;
    padding: 20px;
    text-align: center;
    border: 2px solid transparent;
    background-color: #00ccff;
    cursor: pointer;
    transition: all 1s;
  }
  .left-box3:hover{
    background: #e6e3e3;
    border-color: #00ccff;
    box-shadow: 0 0 40px #00ccff;
  }
  .right-box3 {
    width: 50%;
    height: 500px;
    background-image: url('../Img/En\ Clínica\ Veterinaria\ del\ Bosque\ llevamos\ 25\ años\ cuidando\ la\ salud\ de\ tu\ mascota\ 3.jpeg');
    background-size: cover;
    background-position: center;
    cursor: pointer;
  }
  .borde-btn{
    border: none;
    background: transparent;
    border-bottom: 3px solid #154af8;
    font-size: 20px;
  }
  .borde-btn:hover{
    background: transparent;
    border-bottom: 3px solid #e05007;
  }
 
}


@media screen and (min-width: 1024px) and (max-width: 1300px)   {
 .cont-caja{
  display: flex;
  justify-content: center;
  align-items: center;
 }
  .caja {
    width: 100%;
    background-color: #fff; 
    text-align: center;
    padding: 20px;
    box-sizing: border-box;
  }
  
  
  .titulo {
    padding-top: 80px;
    font-size: 60px; 
    font-weight: bold;
    margin-bottom: 60px;
  }
  
 
  .frase {
    font-size: 28px; 
    padding-bottom: 60px;
  }
  .container {
    display: flex;
  }
  
  .left-box {
    width: 50%;
    height: 490px;
    padding: 20px;
    text-align: center;
    border: 2px solid transparent;
    background-color: #00ccff;
    cursor: pointer;
    transition: all 1s;
  }
  .left-box:hover{
    background: #e6e3e3;
    border-color: #00ccff;
    box-shadow: 0 0 40px #00ccff;
  }
  .left-box p{
    padding-top: 20px;
    font-size: 20px;
  }
  .right-box {
    width: 50%;
    height: 490px;
    background-image: url('../Img/descarga\ \(7\).jpeg');
    background-size: cover;
    background-position: center;  
    cursor: pointer;
  }
  
  
  .left-box2 {
    width: 50%;
    height: 490px;
    padding: 20px;
    text-align: center;
    border: 2px solid transparent;
    background-color: #00ccff;
    cursor: pointer;
    transition: all 1s;
  }
  .left-box2:hover{
    background: #e6e3e3;
    border-color: #00ccff;
    box-shadow: 0 0 40px #00ccff;
  }
  .left-box2 p{
    padding-top: 20px;
    font-size: 20px;
  }
  
  .right-box2 {
    width: 50%;
    height: 490px;
    background-image: url('../Img/Imperial\ Point\ Animal\ Hospital\ of\ Delray\ -\ Animal\ Hospital\ in\ Delray\ Beach\,\ FL.jpeg');
    background-size: cover;
    background-position: center;
    cursor: pointer;
  }
  
  
  .left-box3 {
    width: 50%;
    height: 490px;
    padding: 20px;
    text-align: center;
    border: 2px solid transparent;
    background-color: #00ccff;
    cursor: pointer;
    transition: all 1s;
  }
  .left-box3:hover{
    background: #e6e3e3;
    border-color: #00ccff;
    box-shadow: 0 0 40px #00ccff;
  }
  .left-box3 p{
    padding-top: 20px;
    font-size: 20px;
  }
  
  .right-box3 {
    width: 50%;
    height: 490px;
    background-image: url('../Img/En\ Clínica\ Veterinaria\ del\ Bosque\ llevamos\ 25\ años\ cuidando\ la\ salud\ de\ tu\ mascota\ 3.jpeg');
    background-size: cover;
    background-position: center;
    cursor: pointer;
  }
  .borde-btn{
    border: none;
    background: transparent;
    border-bottom: 3px solid #154af8;
    font-size: 20px;
  }
  .borde-btn:hover{
    background: transparent;
    border-bottom: 3px solid #e05007;
  }
}

@media screen and (min-width: 1301px){
  .cont-caja{
    display: flex;
    justify-content: center;
    align-items: center;
   }
    .caja {
      width: 100%;
      background-color: #fff; 
      text-align: center;
      padding: 20px;
      box-sizing: border-box;
    }
    
    
    .titulo {
      padding-top: 80px;
      font-size: 60px; 
      font-weight: bold;
      margin-bottom: 60px;
    }
    
   
    .frase {
      font-size: 28px; 
      padding-bottom: 60px;
    }


    .container {
      display: flex;
    }
    
    .left-box {
      width: 100%;
      height: 480px;
      padding: 20px;
      text-align: center;
      border: 2px solid transparent;
      background-color: #00ccff;
      cursor: pointer;
      transition: all 1s;
    }
    .left-box:hover{
      background: #e6e3e3;
      border-color: #00ccff;
      box-shadow: 0 0 40px #00ccff;
    }
    .left-box p{
      padding-top: 20px;
      padding-bottom: 40px;
      font-size: 20px;
    }
    .right-box {
      width: 100%;
      height: 480px;
      background-image: url('../Img/descarga\ \(7\).jpeg');
      background-size: cover;
      background-position: center;  
      cursor: pointer;
    }
    
    
    .left-box2 {
      width: 100%;
      height: 480px;
      padding: 20px;
      text-align: center;
      border: 2px solid transparent;
      background-color: #00ccff;
      cursor: pointer;
      transition: all 1s;
    }
    .left-box2:hover{
      background: #e6e3e3;
      border-color: #00ccff;
      box-shadow: 0 0 40px #00ccff;
    }
    .left-box2 p{
      padding-top: 20px;
      font-size: 20px;
      padding-bottom: 40px;
    }
    
    .right-box2 {
      width: 100%;
      height: 480px;
      background-image: url('../Img/Imperial\ Point\ Animal\ Hospital\ of\ Delray\ -\ Animal\ Hospital\ in\ Delray\ Beach\,\ FL.jpeg');
      background-size: cover;
      background-position: center;
      cursor: pointer;
    }
    
    
    .left-box3 {      
      width: 100%;
      height: 480px;
      padding: 20px;
      text-align: center;
      border: 2px solid transparent;
      background-color: #00ccff;
      cursor: pointer;
      transition: all 1s;
    }
    .left-box3:hover{
      background: #e6e3e3;
      border-color: #00ccff;
      box-shadow: 0 0 40px #00ccff;
    }
    .left-box3 p{
      padding-top: 20px;
      font-size: 20px;
      padding-bottom: 40px;
    }
    
    .right-box3 {
      width: 100%;
      height: 480px;
      background-image: url('../Img/En\ Clínica\ Veterinaria\ del\ Bosque\ llevamos\ 25\ años\ cuidando\ la\ salud\ de\ tu\ mascota\ 3.jpeg');
      background-size: cover;
      background-position: center;
      cursor: pointer;
    }
    .borde-btn{
      border: none;
      background: transparent;
      border-bottom: 3px solid #154af8;
      font-size: 20px;
    }
    .borde-btn:hover{
      background: transparent;
      border-bottom: 3px solid #e05007;
    }
}


@media screen and (min-width: 1400px){
  .cont-caja{
    display: flex;
    justify-content: center;
    align-items: center;
   }
    .caja {
      width: 100%;
      background-color: #fff; 
      text-align: center;
      padding: 20px;
      box-sizing: border-box;
    }
    
    
    .titulo {
      padding-top: 80px;
      font-size: 60px; 
      font-weight: bold;
      margin-bottom: 60px;
    }
    
   
    .frase {
      font-size: 28px; 
      padding-bottom: 60px;
    }


    .container {
      display: flex;
    }
    
    .left-box {
      width: 100%;
      height: 480px;
      padding: 20px;
      text-align: center;
      border: 2px solid transparent;
      background-color: #00ccff;
      cursor: pointer;
      transition: all 1s;
    }
    .left-box:hover{
      background: #e6e3e3;
      border-color: #00ccff;
      box-shadow: 0 0 40px #00ccff;
    }
    .left-box p{
      padding-top: 20px;
      padding-bottom: 40px;
      font-size: 20px;
    }
    .right-box {
      width: 100%;
      height: 480px;
      background-image: url('../Img/descarga\ \(7\).jpeg');
      background-size: cover;
      background-position: center;  
      cursor: pointer;
    }
    
    
    .left-box2 {
      width: 100%;
      height: 480px;
      padding: 20px;
      text-align: center;
      border: 2px solid transparent;
      background-color: #00ccff;
      cursor: pointer;
      transition: all 1s;
    }
    .left-box2:hover{
      background: #e6e3e3;
      border-color: #00ccff;
      box-shadow: 0 0 40px #00ccff;
    }
    .left-box2 p{
      padding-top: 20px;
      font-size: 20px;
      padding-bottom: 40px;
    }
    
    .right-box2 {
      width: 100%;
      height: 480px;
      background-image: url('../Img/Imperial\ Point\ Animal\ Hospital\ of\ Delray\ -\ Animal\ Hospital\ in\ Delray\ Beach\,\ FL.jpeg');
      background-size: cover;
      background-position: center;
      cursor: pointer;
    }
    
    
    .left-box3 {      
      width: 100%;
      height: 480px;
      padding: 20px;
      text-align: center;
      border: 2px solid transparent;
      background-color: #00ccff;
      cursor: pointer;
      transition: all 1s;
    }
    .left-box3:hover{
      background: #e6e3e3;
      border-color: #00ccff;
      box-shadow: 0 0 40px #00ccff;
    }
    .left-box3 p{
      padding-top: 20px;
      font-size: 20px;
      padding-bottom: 40px;
    }
    
    .right-box3 {
      width: 100%;
      height: 480px;
      background-image: url('../Img/En\ Clínica\ Veterinaria\ del\ Bosque\ llevamos\ 25\ años\ cuidando\ la\ salud\ de\ tu\ mascota\ 3.jpeg');
      background-size: cover;
      background-position: center;
      cursor: pointer;
    }
    .borde-btn{
      border: none;
      background: transparent;
      border-bottom: 3px solid #154af8;
      font-size: 20px;
    }
    .borde-btn:hover{
      background: transparent;
      border-bottom: 3px solid #e05007;
    }
}