@media (max-width: 750px){
    .iimg-header{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .img-header{
        width: 30%;        
    }
  }

@media (min-width: 751px) and (max-width: 1024px){
    .iimg-header{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .img-header{
        width: 15%;        
    }
}


@media screen and (min-width: 1025px) and (max-width: 1300px)  {
    .iimg-header{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .img-header{
        width: 16%;        
    }
  }


  @media screen and (min-width: 1301px){
    .iimg-header{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .img-header{
        width: 11%;        
    }
  }

  @media screen and (min-width: 1400px){
    .iimg-header{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .img-header{
        width: 14%;        
    }
  }
