html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}
@media screen and (max-width: 767px) {
  .secttion {
    width: 100%;
    height: 750px;
    background-image: url("../Img/Ingresar/jamie-street-MrAo6B0Vn6c-unsplash.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-bottom-left-radius: 10%;
    border-bottom-right-radius: 10%;
  }
  .left-section {
    justify-content: center;
    align-items: center;
    padding: 20px;
    padding-top: 20px;
  }
  .left-section h1 {
    text-align: center;
    font-size: 40px;
    color: #fff;
  }
  .left-section p {
    text-align: center;
    font-size: 16px;
    color: #fff;
  }
  .right-section {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .secttion {
    height: 800px;
    background-image: url("../Img/Ingresar/jamie-street-MrAo6B0Vn6c-unsplash.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-bottom-left-radius: 10%;
    border-bottom-right-radius: 10%;
  }
  .inicio {
    width: 100%;
    height: 600px;
  }

  .container {
    display: flex;
  }
  .left-section {
    position: absolute;
    flex: 1;
    padding: 20px;
    padding-top: 80px;
    padding-right: 400px;
  }
  .left-section h1 {
    text-align: center;
    font-size: 64px;
    color: #fff;
  }
  .left-section p {
    text-align: center;
    font-size: 16px;
    color: #fff;
  }
  .left-section li {
    text-decoration: none;
    list-style-type: none;
  }
  .right-section {
    flex: 1;
    padding-left: 340px;
  }
  .right-section img {
    width: 600px;
  }
}

@media screen and (min-width: 1024px) and (max-width: 1300px) {
  .secttion {
    width: 100%;
    height: 800px;
    background-image: url("../Img/Ingresar/jamie-street-MrAo6B0Vn6c-unsplash.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    /*background: linear-gradient(to right, #ff8080, #ffb3b3);*/
    border-bottom-left-radius: 10%;
    border-bottom-right-radius: 10%;
  }
  .container {
    display: flex;
  }
  .left-section {
    position: absolute;
    flex: 1;
    padding: 20px;
    padding-top: 100px;
    padding-right: 400px;
  }
  .left-section h1 {
    text-align: center;
    font-size: 60px;
    color: #fff;
  }
  .left-section p {
    text-align: center;
    font-size: 26px;
    color: #fff;
  }

  .right-section {
    flex: 1;
    padding-left: 540px;
  }
  .right-section img {
    width: 100%;
  }
}

@media screen and (min-width: 1301px) {
  .secttion {
    width: 100%;
    height: 120vh;
    background-image: url("../Img/Ingresar/jamie-street-MrAo6B0Vn6c-unsplash.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-bottom-left-radius: 10%;
    border-bottom-right-radius: 10%;
  }
  .container {
    display: flex;
  }
  .left-section {
    position: absolute;
    flex: 1;
    padding: 20px;
    padding-top: 80px;
    padding-left: 150px;
    padding-right: 70px;
  }
  .left-section h1 {
    text-align: center;
    font-size: 50px;
    color: #fff;
  }
  .left-section p {
    padding-top: 40px;
    text-align: center;
    font-size: 22px;
    color: #fff;
  }

  .right-section {
    flex: 1;
    padding-left: 600px;
  }
  .right-section img {
    width: 90%;
  }
}

@media screen and (min-width: 1400) {
  .secttion {
    width: 100%;
    height: 100vh;
    background-image: url("../Img/Ingresar/jamie-street-MrAo6B0Vn6c-unsplash.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-bottom-left-radius: 10%;
    border-bottom-right-radius: 10%;
  }
  .container {
    display: flex;
  }
  .left-section {
    position: absolute;
    flex: 1;
    padding: 20px;
    padding-top: 150px;
    padding-left: 210px;
    padding-right: 100px;
  }
  .left-section h1 {
    text-align: center;
    font-size: 70px;
    color: #fff;
  }
  .left-section p {
    padding-top: 40px;
    text-align: center;
    font-size: 36px;
    color: #fff;
  }

  .right-section {
    flex: 1;
    padding-left: 900px;
  }
  .right-section img {
    width: 90%;
  }
}
