
/*.container {
  display: flex;
  flex-wrap: wrap;
}

.content-left {
  flex: 1;
  padding: 20px;
}

.content-right {
  flex: 1;
  padding: 20px;
}
@media (max-width: 750px){
  .content-left {
    padding-left: 100px;
  }
  .img-section{
    width: 950px;
    padding-right: 600px;
  }
}*/
